.Listing {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    height: calc(100% - 346px);
  }
  &__emptyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .ant-card {
    .ant-card-cover {
      max-height: 300px;
      max-width: 300px;
      height: 300px;
      width: 300px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
